<%= form_for(@pet) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :species %>
  <%= f.text_field :species %>
  <%= f.submit %>
<% end %>
<p><%= link_to 'Cancel', pets_path %></p>
