<h1>Lost Pets</h1>
<p><%= link_to 'Report', new_pet_path %></p>

<% @pets.each do |pet| %>
  <div>
    <h3><%= pet.name %> - <em><%= pet.species %> (id: <%= pet.id %>)</em></h3>
    <p>Found on: <%= pet.found_on %></p>
    <%= link_to 'View', pet_path(pet) %>
  </div>
<% end %>
